.button {
  margin: 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  aspect-ratio: 1.2;
  height: 150px;
  cursor: pointer;
  overflow: hidden;
  animation: jumpOut 0.2s ease-in-out;
  opacity: 0.8;
}

.text {
  text-align: center;
  position: absolute;
  top: 56%;
  left: -5px;
  right: 0;
  transform: translateY(-50%);
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 5px;
  z-index: 2;
}

.cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  aspect-ratio: 1.1;
  z-index: 1;
}

.enter {
  animation: moveIn 0.8s ease-in-out;
}

.button:hover {
  animation: jumpIn 0.2s ease-in-out;
  transform: translateY(-5%);
}

.active {
  opacity: 1;
}

@keyframes moveIn {
  0% {
    transform: translateX(500%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.8;
  }
}

@keyframes jumpIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5%);
  }
}

@keyframes jumpOut {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
