.coalDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.coalDetails h1 {
    font-size: 2.8rem;
    font-weight: bold;
}

.coalDetails p {
    font-size: 1.5rem;
}

.coalDetails button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: rgba(7, 21, 224);;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.image {
  position: relative;
  border: 1px white solid;
  border-radius: 25px;
  overflow: hidden;
  width: 700px;
  height: 400px;
}

.price h1 {
    margin: auto;
    font-weight: bold;
    font-size: 2rem;
}
