.main {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 40rem;
  z-index: 1;
}

.rails {
  position: absolute;
  width: 100%;
  aspect-ratio: 5;
  z-index: 1;
}

.background {
  position: absolute;
  width: 100%;
  aspect-ratio: 0.67;
  top: -60%;
  opacity: 0.4;
}