.main {
  position: relative;
  margin: 2rem auto;
  width: 90%;
  max-width: 60rem;
  z-index: 1;
}

.rails {
  position: absolute;
  width: 100%;
  aspect-ratio: 5;
  z-index: 1;
}

.background {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.photo {
  position: fixed;
  aspect-ratio: 0.6;
}

@media (max-width: 530px) and (orientation: portrait) {
  .photo {
    height: 100vh;
  }
}

@media (min-width: 531px) {
  .photo {
    width: 100vw;
  }
}