.header {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3rem 10% 0 10%;
  z-index: 2;
}

.logo {
  position: relative;
  cursor: pointer;
  aspect-ratio: 3.6;
  height: calc(20px + 4vw);
  animation: show 1s ease-in-out;
  margin: auto 0;
}

.logo:hover,
.logo:focus,
.logo:active {
  opacity: 0.5;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header li {
  margin-left: calc(10px + 2vw);;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
