.card {
  margin: 1rem;
  padding: 1.5rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  max-width: 300px;
  cursor: pointer;
}

.empty:hover,
.empty:focus,
.empty:active {
  color: red;
  border-color: red;
}

.card:hover,
.card:focus,
.card:active {
  color: green;
  border-color: green;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
