.button {
  position: relative;
  padding: 15px 30px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 40px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.button span {
  margin: auto;
  position: relative;
  font-size: 20px;
  letter-spacing: 5px;
  z-index: 1;
}

.liquid {
  position: absolute;
  top: -20%;
  left: -5px;
  width: calc(100% + 10px);
  aspect-ratio: 1;
  background: #214cda;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  border: 1px solid white;
}

.liquid::after,
.liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -37%;
  left: 50%;
  transform: translate(-50%, -75%);
  background: rgb(0, 7, 95);
}

.liquid::before {
  border-radius: 45%;
  background: rgba(0, 7, 95);
  animation: animate 7s linear infinite;
}

.liquid::after {
  border-radius: 40%;
  background: rgba(0, 7, 95, 0.6);
  animation: animate 12s linear infinite;
}

.button:hover .liquid {
  top: -150%;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
