.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  animation: show 1s ease-in-out;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  border-color: #222;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer a:hover {
  text-decoration: underline;
}

.title {
  margin: 0 0 2rem 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2px 0 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.image {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  width: 232px;
  height: 128px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  opacity: 0.7;
}

.address {
  text-align: center;
  line-height: 0.4;
  font-size: 1.5rem;
}

.empty:hover,
.empty:focus,
.empty:active {
  border-color: red;
}

.full:hover,
.full:focus,
.full:active {
  border-color: green;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-4%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
